h1.navbar-brand:focus, 
h1.navbar-brand:hover {
	color: #9d9d9d;
}

h1.bienvenue {
	padding-top: 8px;
}

table.table tr th::first-letter {
	text-transform: uppercase;
}

div.parentFeedBack {
	min-height: 35px;
	text-align: center;
}

.compteur .form-horizontal,
div.parentFeedBack {
	margin-top: 15px;
	margin-top: 15px;
}

.nomargin {
	margin: 0;	
} 

.jumbotron .leight p {
	font-size: initial;
}

.jumbotron.body {
	padding-left: 0px;
	padding-right: 0px;
	background-color: transparent;
}

.caption h2::first-letter {
	text-transform: uppercase;
}

.carousel img {
	max-height: 250px;
	height: 250px;
	min-height: 250px;
}
